//font
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
$font__Josefin: 'Josefin Sans', sans-serif;
$font__regular: 400;
$font__bold: 700;
$font_size1: 18px;

//colors
//basic
$brightblue: hsl(220, 98%, 61%);
$gradient1: hsl(192, 100%, 67%);
$gradient2: hsl(280, 87%, 65%);

//light theme
$vlightgray: hsl(0, 0%, 98%);
$vlgrayishblue: hsl(236, 33%, 92%);
$lightgrayishblue:hsl(233, 11%, 84%);
$dgrayishblue: hsl(236, 9%, 61%);
$vdgrayishblue: hsl(235, 19%, 35%);

//dark theme
$vdarkblue: hsl(235, 21%, 11%);
$vdarkdeblue: hsl(235, 24%, 19%);
$lgrayishblue: hsl(234, 39%, 85%);
$lgrayishblueho: hsl(236, 33%, 92%);
$darkgrayishblue: hsl(234, 11%, 52%);
$vdarkgrayish: hsl(233, 14%, 35%);
$vdarkgrayblue: hsl(237, 14%, 26%);








